@font-face {
    font-family: "mate-zone";
    src: url("../assets/charlottesouthern.ttf");
}
@font-face{
    font-family: "menutxtrg";
    src: url("../assets/kenyancoffeerg.ttf");
    }
@font-face{
    font-family: "menutxtbd";
    src: url("../assets/kenyancoffeebd.ttf")
}